* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Faz com que width e height incluam padding e border */
  font-family: Arial, sans-serif;
}

body {
  /* background-color: #f4f4f4; */
  display: flex;
}

.barra_lateral {
    position: fixed;
    background-color: #0030f2;
    border-radius: 0px 20px 20px 0px;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
#logo_barra {
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
}
#logo_barra:hover {
    transform: scale(1.2);
}

/* Menu de navegação */
.menu ul {
    list-style: none;
    padding: 0;
}

.menu a {
    display: flex;
    align-items: center;
    color: #f4f4f4;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 20px;
}
.menu a:hover {
    background-color: rgba(255, 255, 255, 0.397);
    padding: 5px;
    border-radius: 10px;
}

/* Ícones do menu */
.img_menu {
    height: 40px;
    margin-right: 6px;
}



.main-content {
  /* flex-grow: 1; */
  margin-left: 240px; /* Move o conteúdo para a direita, sem sobreposição */
  padding: 20px;
}

.bem-vindo {
  margin-top: 2%;
  margin-bottom: 111px; /* Adiciona espaço abaixo do elemento */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-icon img:hover {
  transform: scale(1.5);
}

.video-section h2 {
  margin-bottom: 25px;
}

/* Container de vídeos com rolagem horizontal */
.video-container {
  display: flex;
  overflow-x: auto; /* Permite rolagem horizontal */
  gap: 15px;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: #0030f2 #ccc;
}

/* Estilização dos vídeos */
.video {
  width: calc(33.333% - 20px);
  /* height: 400px; */
  /* text-align: center; */
  margin-bottom: 7%; 
}

#video-aulas {
  width: 70%;
  height: 185px;
  /* background-color: #ccc; */
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* font-weight: bold; */
}
#video-aulas:hover {
  transform: scale(1.1);
}

/* Estilização da barra de rolagem */
/* .video-container::-webkit-scrollbar {
  height: 8px;
  background-color: #ff00c8;
} */
/* .video-container::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 10px;
} */
/* .video-container::-webkit-scrollbar-thumb {
  background: #0030f2;
  border-radius: 10px;
} */

