/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

/* Estilizando o cabeçalho */
.top-header {
  text-align: center;
  font-size: 24px;
  padding: 15px;
  color: rgb(0, 17, 255);
  position: fixed;
  width: 100%;
  top: 0;
}

.cad {
  margin-top: 5%;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 4px 4px 40px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

.text-cad {
  margin-bottom: 15px;
}

.text-cad h1 {
  color: #000000;
  font-size: 24px;
}

.text-cad p {
  color: #555;
  font-size: 14px;
}

.form_cad {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre os elementos */
}

/* Alinhando os textos das labels à esquerda */
.form_cad label {
  text-align: left;
  display: block;
  color: #555;
  margin-top: 2px;
}

.inp_log {
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

select.inp_log {
  cursor: pointer;
}

.bot_log {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.bot_log:hover {
  background-color: #0056b3;
}

.cad a {
  display: block;
  margin-top: 15px;
  color: #868484d5;
  text-decoration: none;
}

.cad a:hover {
  color: #007bff;
}
