/* Reset de estilos para garantir consistência */
* {
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #dcdcdca1;
}

.barra_lateral {
    position: fixed;
    background-color: #ffffff;
    height: 100vh;
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
#logo_barra {
    width: 65px;
    height: 65px;
    margin-top: 10%;
    margin-bottom: 50px;
    border-radius: 20%;
   /* align-self: flex-start; */
    position: relative;
    left: -95px; /* Ajuste conforme necessário */
}

#logo_barra:hover {
    transform: scale(1.1);
}

/* Menu de navegação */
.menu ul {
    list-style: none;
    padding: 0px;
}

.menu a {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #8b898980;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
    align-self: flex-start;
    position: relative;
    left: -50px;
}
.menu a:hover {
    background-color: rgba(187, 186, 186, 0.247);
    color: rgb(11, 61, 127);
    padding: 5px;
    border-radius: 10px;
}

#icon {
    font-size: 24px;
    margin-right: 10px;
}

.bem-vindo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
  top: -39px;
  font-size: 21px;
}
.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-icon img:hover {
  transform: scale(1.2);
}


.home {
  margin-left: 220px;
  padding: 80px; /* Adiciona espaçamento interno */
  /* text-align: center; */
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.aba-principal {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 5%;
  width: 850px;
  height: 500px;
  padding: 6%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


.mini-blocos {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}
.bloco {
  background-color: rgb(11, 61, 127);
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  height: 110px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  /* text-align: center; */
}
.bloco:hover {
  transform: scale(1.1);
}