/* Reset de estilos para garantir consistência */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Faz com que width e height incluam padding e border */
  font-family: Arial, sans-serif;
}

/* Estilização da barra lateral */
.barra_lateral {
  background-color: #0030f2;
  border-radius: 0px 20px 20px 0px;
  height: 100vh;
  width: 250px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo dentro da barra lateral */
#logo_barra {
  width: 150px;
  height: 150px;
  margin-bottom: 50px; /* Adiciona espaço abaixo do elemento */
}
#logo_barra:hover {
  transform: scale(1.2); /* Aumenta o texto em 20% */
}

/* Estilização do menu */
.menu ul {
  list-style: none; /* Remove os bullets */
  padding: 0;
}

.menu a {
  display: flex;
  align-items: center;
  color: #f4f4f4;
  text-decoration: none;
  font-size: 30px;
  margin-bottom: 20px;
}

/* Efeito ao passar o mouse nos links do menu */
.menu a:hover {
  background-color: rgba(255, 255, 255, 0.397);
  color: rgb(198, 201, 69);
  padding: 1%;
  border-radius: 20%;
  transform: scale(1.2); /* Aumenta o texto em 20% */
  width: 100%;
}

/* Estilização das imagens dentro do menu */
.img_menu {
  width: 60px; /* Define um tamanho menor para as imagens */
  height: 60px;
  margin-right: 6px; /* Ajusta o espaçamento entre a imagem e o texto */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bem-vindo {
  margin-top: 2%;
  margin-bottom: 111px; /* Adiciona espaço abaixo do elemento */
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-icon img:hover {
  transform: scale(1.5);
}


main {
  margin-left: 220px;
  padding: 80px; /* Adiciona espaçamento interno */
  text-align: center;
}

main h2 {
  margin-bottom: 2%;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.aba-principal {
  display: flex;
  flex-wrap: wrap;
  background-color: #0030f2;
  border-radius: 5%;
  padding: 3%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


.aba {
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 15px; /* Bordas arredondadas */
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  /* width: 90%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}


.mini-blocos {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 20px;
  /* justify-content: center; */
}
.bloco {
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 170px;
  height: 160px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  /* text-align: center; */
}
.bloco:hover {
  transform: scale(1.1);
}


.aba2 {
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  /* width: 90%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}
.mini-blocos2 {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  /* justify-content: center; */
}
.bloco2 {
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 170px;
  height: 160px;
  /* text-align: center; */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.bloco2:hover {
  transform: scale(1.1);
}