<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Estruturada</title>
    <link rel="stylesheet" href="/rack_cesar/static/home2.css" />
  </head>
  <body>
    <aside class="barra_lateral">
      <img src="/rack_cesar/fotos/Logo(tema claro).png" alt="Logo" />
      <nav class="menu">
        <ul>
          <li><a href="#">Home </a></li>
          <li><a href="#">Aulas 2</a></li>
          <li><a href="#">Exercicios </a></li>
          <li><a href="#">Jogos </a></li>
        </ul>
      </nav>
    </aside>

    <main>
      <h2>Olá, seja bem-vindo ao EduPlay</h2>
      <div class="aba-principal">
        <div class="aba">
          <div class="mini-blocos">
            <div class="bloco"></div>
            <div class="bloco"></div>
            <div class="bloco"></div>
            <div class="bloco"></div>
          </div>
        </div>

        <div class="aba2">
          <div class="mini-blocos2">
            <div class="bloco2"></div>
            <div class="bloco2"></div>
            <div class="bloco2"></div>
            <div class="bloco2"></div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
