<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EDUPLAY - Sala de Questões</title>
    <link rel="stylesheet" href="/rack_cesar/static/aula.css" />
  </head>
  <body>
      <aside class="barra_lateral">
        <img
          id="logo_barra"
          src="/rack_cesar/fotos/Logo(tema claro).png"
          alt="Logo"
        />
        <nav class="menu">
          <ul>
            <li>
              <a href="/rack_cesar/templates/home.html"
                ><img class="img_menu" src="/rack_cesar/fotos/home.png" alt="Home"
                />
                <span>Home</span></a
              >
            </li>
            <li>
              <a href="#"
                ><img class="img_menu" src="/rack_cesar/fotos/3221575.png" alt="Aulas"
                />
                <span>Aulas</span></a
              >
            </li>
            <li>
              <a href="#"
                ><img class="img_menu" src="/rack_cesar/fotos/icon-exercicios.png" alt="Exercícios"
                />
                <span>Exercícios</span></a
              >
            </li>
            <li>
              <a href="#"
                ><img class="img_menu" src="/rack_cesar/fotos/icon-jogo.png" alt="Jogos"
                />
                <span>Jogos</span></a
              >
            </li>
          </ul>
        </nav>
      </aside>

    <div class="main-content">
      <header class="bem-vindo">
        <h1>Olá, Bem-Vindo à área de aulas</h1>
        <div class="user-icon">
          <img src="/rack_cesar/fotos/Jotta.jpg" alt="User Icon" />
        </div>
      </header>

      <!-- Seção Português -->
      <section class="video-section">
        <h2>Português</h2>
        <div class="video-container">
          <div class="video"><div class="video-aulas">Vídeo 1</div></div>
          <div class="video"><div class="video-aulas">Vídeo 2</div></div>
          <div class="video"><div class="video-aulas">Vídeo 3</div></div>
          <div class="video"><div class="video-aulas">Vídeo 4</div></div>
        </div>
      </section>

      <!-- Seção Matemática -->
      <section class="video-section">
        <h2>Matemática</h2>
        <div class="video-container">
          <div class="video"><div class="video-aulas">Vídeo 1</div></div>
          <div class="video"><div class="video-aulas">Vídeo 2</div></div>
          <div class="video"><div class="video-aulas">Vídeo 3</div></div>
          <div class="video"><div class="video-aulas">Vídeo 4</div></div>
        </div>
      </section>
      <!-- Seção JavaScript -->
      <section class="video-section">
        <h2>JavaScript</h2>
        <div class="video-container">
          <div class="video"><div class="video-aulas">Vídeo 1</div></div>
          <div class="video"><div class="video-aulas">Vídeo 2</div></div>
          <div class="video"><div class="video-aulas">Vídeo 3</div></div>
          <div class="video"><div class="video-aulas">Vídeo 4</div></div>
        </div>
      </section>

      <!-- Seção CSS -->
      <section class="video-section">
        <h2>CSS</h2>
        <div class="video-container">
          <div class="video"><div class="video-aulas">Vídeo 1</div></div>
          <div class="video"><div class="video-aulas">Vídeo 2</div></div>
          <div class="video"><div class="video-aulas">Vídeo 3</div></div>
          <div class="video"><div class="video-aulas">Vídeo 4</div></div>
        </div>
      </section>
    </div>
  </body>
</html>
