<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EDUPLAY - Sala de Questões</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='aula.css') }}"/>
    <link rel="stylesheet" href="/rack_cesar/static/aula.css" />
  </head>
  <body>
      <aside class="barra_lateral">
        <img id="logo_barra" src="{{ url_for('static', filename='fotos/logo.png') }}"/>
        <nav class="menu">
          <ul>
            <li><a href="{{ url_for('home') }}"><img class="img_menu" src="{{ url_for('static', filename='fotos/home.png') }}"/> <span>Home</span></a></li>
            <li><a href="{{ url_for('aula') }}"><img class="img_menu" src="{{ url_for('static', filename='fotos/aulas.png') }}"/> <span>Aulas</span></a></li>
            <li><a href="{{ url_for('exerc') }}"><img class="img_menu" src="{{ url_for('static', filename='fotos/exercicios.png') }}"/> <span>Exercícios</span></a></li>
            <li><a href="{{ url_for('jogo') }}"><img class="img_menu" src="{{ url_for('static', filename='fotos/jogo.png') }}"/> <span>Jogos</span></a></li>
          </ul>
        </nav>
      </aside>

    <div class="main-content">
      
      <header class="bem-vindo">
        <h1>Olá, Bem-Vindo à área de aulas</h1>
        <div class="user-icon">
          <a href="{{ url_for('perfil') }}">
            <img src="{{ url_for('static', filename='fotos/Jotta.jpg') }}" alt="Usuário">
          </a>
        </div>
      </header>

      <!-- Seção Português -->
      <section class="video-section">
        <h2>Português</h2>
        <div class="video-container">
          <iframe class="video" id="video-aulas" src="https://www.youtube.com/embed/eoZ0aEJQACg?si=gXQXsX24mo84eFOB"></iframe>
          <iframe class="video" id="video-aulas" src=""></iframe>
          <iframe class="video" id="video-aulas" src=""></iframe>
          <iframe class="video" id="video-aulas" src=""></iframe>
        </div>
      </section>

      <!-- Seção Matemática -->
      <section class="video-section">
        <h2>Matemática</h2>
        <div class="video-container">
          <iframe class="video" id="video-aulas" src=""></iframe>
          <iframe class="video" id="video-aulas" src=""></iframe>
          <iframe class="video" id="video-aulas" src=""></iframe>
          <iframe class="video" id="video-aulas" src=""></iframe>
        </div>
      </section>
      
      <!-- Seção JavaScript -->
      <section class="video-section">
        <h2>JavaScript</h2>
        <div class="video-container">
          <iframe class="video" id="video-aulas" src=""></iframe>
          <iframe class="video" id="video-aulas" src=""></iframe>
          <iframe class="video" id="video-aulas" src=""></iframe>
          <iframe class="video" id="video-aulas" src=""></iframe>
        </div>
      </section>

      <!-- Seção CSS -->
      <section class="video-section">
        <h2>CSS</h2>
        <div class="video-container">
          <iframe class="video" id="video-aulas" src=""></iframe>
          <iframe class="video" id="video-aulas" src=""></iframe>
          <iframe class="video" id="video-aulas" src=""></iframe>
          <iframe class="video" id="video-aulas" src=""></iframe>
        </div>
      </section>
    </div>
  </body>
