<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homer Simpson</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}"/>
    <link rel="stylesheet" href="/rack_cesar/static/home.css" />
  </head>
  <body>
    <aside class="barra_lateral">
      <img id="logo_barra" src="/rack_cesar/fotos/Logo(tema claro).png" alt="Logo" />
      <nav class="menu">
        <ul>
          <li><a href="#"><img class="img_menu" src="/rack_cesar/fotos/home.png" alt="Home"> <span>Home</span></a></li>
          <li><a href="/rack_cesar/templates/aula.html"><img class="img_menu" src="/rack_cesar/fotos/3221575.png" alt="Aulas"> <span>Aulas</span></a></li>
          <li><a href="#"><img class="img_menu" src="/rack_cesar/fotos/icon-exercicios.png" alt="Exercícios"> <span>Exercícios</span></a></li>
          <li><a href="#"><img class="img_menu" src="/rack_cesar/fotos/icon-jogo.png" alt="Jogos"> <span>Jogos</span></a></li>
        </ul>
      </nav>
    </aside>
    <main>
      <header class="bem-vindo">
        <h1>Olá, Bem-Vindo {{nome}} ao EduPlay</h1>
        <div class="user-icon">
          <img src="/rack_cesar/fotos/Jotta.jpg" alt="User Icon">
        </div>
      </header>
      <div class="aba-principal">
        <div class="aba">
          <div class="mini-blocos">
            <div class="bloco">
              <h3>Estatistics</h3>
            </div>
            <div class="bloco">
              <h3>Estatistics</h3>
            </div>
            <div class="bloco">
              <h3>Estatistics</h3>
            </div>
            <div class="bloco">
              <h3>Estatistics</h3>
            </div>
          </div>
        </div>

        <div class="aba2">
          <div class="mini-blocos2">
            <div class="bloco2">
              <h3>Jogos - Estatistics</h3>
            </div>
            <div class="bloco2">
              <h3>Jogos - Estatistics</h3>
            </div>
            <div class="bloco2">
              <h3>Jogos - Estatistics</h3>
            </div>
            <div class="bloco2">
              <h3>Jogos - Estatistics</h3>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
