<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homer Simpson</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}"/>
    <link rel="stylesheet" href="/rack_cesar/static/home.css" />
  </head>
  <body id="body_home">
    <aside class="barra_lateral">
      <img id="logo_barra" src="{{ url_for('static', filename='fotos/logo.png') }}" alt="Logo" />
      <nav class="menu">
        <ul>
          <li><a href="{{ url_for('home') }}""><img class="img_menu" src="{{ url_for('static', filename='fotos/home.png') }}"> <span>Home</span></a></li>
          <li><a href="{{ url_for('aula') }}"><img class="img_menu" src="{{ url_for('static', filename='fotos/aulas.png') }}"> <span>Aulas</span></a></li>
          <li><a href="{{ url_for('exerc') }}"><img class="img_menu" src="{{ url_for('static', filename='fotos/exercicios.png') }}"> <span>Exercícios</span></a></li>
          <li><a href="{{ url_for('jogo') }}"><img class="img_menu" src="{{ url_for('static', filename='fotos/jogo.png') }}"> <span>Jogos</span></a></li>
        </ul>
      </nav>
    </aside>
    <main>
      <header class="bem-vindo">
        <h1>Olá, Bem-Vindo ao EduPlay</h1>
        <div class="user-icon">
          <a href="{{ url_for('perfil') }}">
            <img src="{{ url_for('static', filename='fotos/Jotta.jpg') }}" alt="Usuário">
          </a>
        </div>
      </header>
      <div class="aba-principal">
        <div class="aba">
          <div class="mini-blocos">
            <div class="bloco">
              <h3>Estatistics</h3>
            </div>
            <div class="bloco">
              <h3>Estatistics</h3>
            </div>
            <div class="bloco">
              <h3>Estatistics</h3>
            </div>
            <div class="bloco">
              <h3>Estatistics</h3>
            </div>
          </div>
        </div>

        <div class="aba2">
          <div class="mini-blocos2">
            <div class="bloco2">
              <h3>Jogos - Estatistics</h3>
            </div>
            <div class="bloco2">
              <h3>Jogos - Estatistics</h3>
            </div>
            <div class="bloco2">
              <h3>Jogos - Estatistics</h3>
            </div>
            <div class="bloco2">
              <h3>Jogos - Estatistics</h3>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>