<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/rack_cesar/static/login.css" />
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form action="#" method="POST">
        <label for="camp_nom">Nome:</label>
        <input
          type="text"
          name="nome"
          id="camp_nom"
          placeholder="Digite seu nome"
          required
        />

        <label for="camp_email">E-mail:</label>
        <input
          type="email"
          name="email"
          id="camp_email"
          placeholder="Digite seu e-mail"
          required
        />

        <label for="camp_cpf">CPF:</label>
        <input type="text" name="cpf" placeholder="Informe seu CPF" required />

        <button type="submit" class="but">Entrar</button>
      </form>
    </div>
  </body>
</html>
